.custom-container {
    height: 80vh; /* Container height as 80% of the viewport height */
    margin-bottom: 8rem; /* Top margin for scrolling if content exceeds container height */
    width: 100%; /* Maximum width of the container */
    padding: 20px; 
    
    /* Padding around the content */
}

.experience-container {
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, black, rgb(41, 41, 41));
    padding: 20px;
}



/* Sets text color to white for descriptions */
.description-text {
    color: white !important;
    text-align: left;
}


.custom-container h3 {
    color: white;
    font-weight: 500;
}
/* Assuming your CSS file is exp.css as mentioned in the import statement */
 .custom-container p {
    color: white; /* Makes text white for company title and description */
}

.custom-container h5 {
    color: rgb(65, 157, 255); /* Makes text blue for job title */
}


.exp-title {
    font-size: 3rem; /* Larger heading size */
    color: rgb(65, 157, 255); /* Dark gray text */
    font-weight: 700;
}

.exp-work-title {
    font-size: 2rem; /* Set size for work title */
    color: #fff ; /* White color for visibility */
    margin-bottom: 1.5rem; /* Space below the work title */
}
.nav-pills .nav-link {
    padding: 12px 24px; /* Increased padding for a wider appearance */
    margin: 5px 0; /* Slight margin between buttons for spacing */
    font-size: 1.1rem;
    font-weight: bold; /* Larger font size for better readability */
    border-radius: 5px; /* Rounded corners for aesthetic preference */
    color: #ffffff !important; /* Lower contrast for inactive state */
    text-decoration: none; /* Removes underline from links */
    display: block; /* Ensures the link uses the full space of its container */
    opacity: 0.6; /* Reduced opacity for inactive links */
    transition: color 0.3s, background-color 0.3s, opacity 0.3s; /* Smooth transitions for hover/focus */
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    opacity: 1; /* Full opacity on hover/focus */
    color: #fff !important; /* White text on hover/focus */
    background-color: #0056b3; /* Darker background on hover/focus for better visibility */
}

.nav-pills .nav-link.active {
    background-color: #007bff; /* Bootstrap primary color for active state */
    color: #fff; /* White text for active state */
    opacity: 1; /* Full opacity for active link */
}

/* Add styles for the 'Companies I've Worked With' text */
.companies-title {
    font-size: 2.5rem; /* Larger heading size */
    color: rgb(65, 157, 255); /* Dark gray text */
    font-weight: 700;
    margin-top: -1rem;
}

/* Customize the carousel slider buttons */
.slick-prev, .slick-next {
    font-size: 2rem;
    z-index: 1;
}

/* Additional custom styles */
.custom-container {
    padding: 20px;
    margin-bottom: 20rem !important;
}

.carousel-image-container {
    padding: 0 5px; /* Adjust padding to make images close to each other */
}

.carousel-image {
    width: 200px; /* Make the images small */
    height: auto;
    display: block;
    margin: 0 auto;
}




.description-text {
    font-size: 1rem;
    line-height: 1.5;
}


.slick-dots li button:before {
    font-size: 1.2rem;
}





@media (max-width: 500px) {
    .custom-container {
        padding: 5px; /* Less padding in the container for more space */
    }

    .nav-pills .nav-link {
        padding: 6px 12px; /* Even smaller padding for very small screens */
        font-size: 0.8rem; /* Even smaller font size for better fit */
    }

    .carousel-image-container {
        padding: 0 5px;
    }
    
    .carousel-image {
        width: 120px; /* Make the images small */
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .custom-container {
        margin-bottom: 30rem !important;
    }
   

    
}