.navbar-transparent {
  background-color: transparent !important;
  transition: background-color 0.4s ease-in-out;
  border-bottom: 1px solid rgb(215, 215, 215); /* Add a transparent border initially */

  
}

.navbar-dark.bg-dark {
  background-color: black !important; /* Solid black background */
  transition: background-color 0.4s ease-in-out;
}

.logo {
  cursor: pointer;
}

.nav-link, .resume-button {
  margin-right: 20px; /* Ensure consistent margin for all items */
  font-size: large;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative; /* Required for positioning the pseudo-element */
  color: black !important; /* Default color */
}

.resume-button:hover, .resume-button:focus {
  color: white;
  background-color: rgb(0, 121, 251); /* Light blue background for a highlight effect */
  border-color: rgb(255, 255, 255); /* Blue border */
}

.resume-button {
  background: none; /* Remove default background to match outline effect */
  border-color: black !important; /* Set the border color to white to match outline-light variant */
  border-radius: 0; /* Optional: Remove border radius if you prefer squared buttons */
  margin-right: 25px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Thicker underline, adjust if needed */
  background-color: rgb(65, 157, 255); /* Color of the underline */
  transition: width 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

/* Hover effect - expands the underline from left to right */
.nav-link:hover::after {
  width: 100%;
}

/* Active state - underline and blue text color */
.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: rgb(65, 157, 255) !important;
}


/* Hover effect - expands the underline from left to right */
.nav-link:hover::after {
  width: 100%;
}

/* Additional styles for fixed-top and color transitions */
.navbar-dark.bg-dark .nav-link {
  color: #fff !important ;
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.navbar-dark.bg-dark .resume-button {
  border-color: white !important;
  color: white !important;
}

.navbar-dark.bg-dark .nav-link:hover,
.navbar-transparent .nav-link:hover {
  color: #00aeff; /* Optional: change text color on hover */
}

/* Animation for sliding in the navbar */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Responsive behavior and styling for mobile devices */
@media (max-width: 992px) {
  .nav-link, .resume-button {
    color: white !important;
  }

  .navbar-dark.bg-dark,
  .navbar-transparent {
    background-color: black !important;
  }

  .logo {
    cursor: pointer;
    padding-left: 0;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center; /* Center the nav items horizontally */
    position: fixed;
    top: 0;
    right: 0; /* Change to right */
    height: 100%;
    width: 85%; /* Width of the slide-in menu */
    background-color: black !important;
    transform: translateX(100%); /* Start off-screen */
    animation: slideIn 0.4s forwards; /* Slide in animation */
  }

  .nav-link {
    display: block; /* Ensure nav items are block elements */
    margin: 10px 0; /* Increase spacing between items */
    text-align: left; /* Ensure text in nav items is centered */
    width: 100%; /* Ensure full width for clickable area */
  }

  .resume-button {
    display: block; /* Ensure nav items are block elements */
    margin: 10px 0;
    margin-left: 10px;
  }

  .resume-button {
    border-color: white !important;
  }

  .navbar-toggler {
    margin-left: auto; /* Push the toggler to the right on smaller screens */
  }

  
}
