.intro-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}

.intro-content-container {
  max-width: 1200px;
  padding: 50px 15px;
}

.scroll-icon-container {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.intro-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
}

.img-left {
  left: 0;
  transform: translateX(-60%);
  /* Adjust as needed to fine-tune positioning */
}

.img-right {
  right: 0;
  transform: translateX(60%); /* Adjust as needed to fine-tune positioning */
}


.intro-message h1 {
  font-size: 7rem;
  font-weight: 650;
  margin-top: 2rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.intro-message .highlight {
  color: rgb(65, 157, 255); /* Blue color */
}

.intro-message .intro-text {
  font-size: 1.37rem;
  margin-bottom: 20px;
}

.typing-cursor {
  display: inline-block;
  width: 10px;
  height: 2em;
  animation: blink 1s infinite;
}

.typing-cursor.visible {
  opacity: 1;
}

.typing-cursor:not(.visible) {
  opacity: 0;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.scroll-down-section {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-down-text {
  font-size: large;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 0rem !important;

}

.scroll-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-text i {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.intro-image {
  opacity: 1;
  transition: opacity 0.5s;
}

.intro-image.hidden {
  opacity: 0;
}

@media (max-width: 1050px) {
  .image-container {
    padding: 4rem;
   
  }
}


@media (max-width: 768px) {
  .image-container {
    display: none;
  }

  .intro-message h1 {
    font-size: 3rem !important;
  }

  .intro-message .intro-text {
    font-size: 1rem;
  }

  .scroll-down-text {
    font-size: large;
  }
}