.projects-section {
margin-bottom: 20rem !important;
}

.project-card {
    width: 45% !important; /* Adjust the width as needed */
    margin: auto; /* Centers the card in the carousel item */
}

.projects-section h2 {
    font-size: 3rem; /* Larger heading */
    color: rgb(65, 157, 255); /* Dark gray text */
    font-weight: 700;
    margin-bottom: 1em !important;
}

.projects-section .carousel {
    position: relative;
    padding-bottom: 40px; /* Adds extra space at the bottom for the indicators */
}

.carousel-indicators {
    bottom: -20px; /* Moves the indicators below the default position */
}

.project-card {
    border-color: white;
    background-color: black;
}


.projects-section .project-card-title {
    font-size: 1.5rem; /* Larger font size for title */
    font-weight: bold; /* Bold font weight for title */
    color: rgb(65, 157, 255); /* Example color */
}

.projects-section .project-card-description {
    font-size: 1rem; /* Regular font size for description */
    color: #ffffff; /* Dark grey color */
}

.projects-section .project-card-technologies {
    font-size: 0.9rem; /* Slightly smaller font size for technologies */
    color: #c3c3c3; /* Grey color */
}


.project-carousel-item .project-card {
    width: 100%; /* Ensures card takes up all available width */
    max-width: 720px; /* Limits the maximum width for better appearance */
    margin: 0 auto; /* Centers the card in the carousel item */
}

.card-img-top {
    width: 100%; /* Adjust width to desired size */
    height: auto; /* Maintains the image aspect ratio */
    object-fit: cover; /* Ensures the image covers the designated area without distortion */
    border-radius: 0.25rem 0.25rem 0 0; /* Matches Bootstrap's default border-radius */
    display: block; /* Ensures the image is treated as a block-level element */
    margin: auto; /* Centers the image horizontally within its container */
}

@media (max-width: 768px) { /* Adjusts for tablets and below */
    .projects-section {
        margin-bottom: 5rem; /* Less margin on smaller devices */
    }

   
    

    .project-card {
        width: 100%; /* Smaller width on small screens */
    }

    .projects-section .project-card-title,
    .projects-section .project-card-description,
    .projects-section .project-card-technologies {
        font-size: 0.8rem; /* Smaller font size for compact display */
    }
}

@media (max-width: 480px) { /* Adjusts for phones */
    .project-card {
        width: 100%; /* Slightly larger width on very small screens */
    }

    .card-img-top {
display: none;       /* Centers the image horizontally within its container */
    }


    .projects-section .project-card-title {
        font-size: 1.2rem; /* Bigger titles on very small screens */
    }

    .projects-section .project-card-description,
    .projects-section .project-card-technologies {
        font-size: 0.7rem; /* Very small text to fit more content */
    }
}